.task-report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart-container {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin-bottom: 20px;
    position: relative;
    padding: 20px;
    margin: 10px;
  }
  
  canvas {
    width: 100% !important;
    height: 100% !important;
    padding: 20px;
  }
  