<div style="padding: 20px;">
  <mat-card>
    <mat-form-field class="category" appearance="fill" style="flex: 1 1 100%;">
      <mat-label>New Category</mat-label>
      <input class="input" matInput [(ngModel)]="newCategoryName" placeholder="Category Name">
    </mat-form-field>
    <button mat-raised-button class="add-category-button" (click)="addCategory()">Add Category</button>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add New Task</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="task" appearance="fill">
        <mat-label>Title</mat-label>
        <input class="input" matInput [(ngModel)]="newTask.title" placeholder="Task Title">
      </mat-form-field>
      <mat-form-field class="task" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea class="input" matInput [(ngModel)]="newTask.description" placeholder="Task Description"></textarea>
      </mat-form-field>
      <div *ngFor="let column of additionalColumns">
        <mat-form-field class="task" appearance="fill">
          <mat-label>{{ column | titlecase }}</mat-label>
          <input class="input" matInput [(ngModel)]="newTask[column]" placeholder="{{ column | titlecase }}">
        </mat-form-field>
      </div>
      <button mat-icon-button (click)="addNewColumn()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button class="add-task-button" (click)="addTask()">Add Task</button>
    </mat-card-content>
  </mat-card>
  <div style="margin-top: 20px; display: flex; flex-direction: column; padding-right: 10px;">
    <div cdkDropListGroup>
      <mat-card *ngFor="let category of categories" style="margin-bottom: 20px; position: sticky; display: inline-flex; margin: 10px;">
        <mat-card-header>
          <mat-card-title>{{ category }}</mat-card-title>
          <button mat-icon-button color="primary" (click)="renameCategory(category)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCategory(category)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <div 
            cdkDropList 
            [cdkDropListData]="getTasksByCategory(category)" 
            (cdkDropListDropped)="drop($event)" 
            [id]="category"
            style="min-height: 100px; padding: 10px; border: 1px dashed #ccc;"
          >
            <mat-card *ngFor="let task of getTasksByCategory(category)" cdkDrag [cdkDragData]="task">
              <mat-card-header>
                <mat-card-title><strong>Description:</strong>{{ task.title }}</mat-card-title>
                <button mat-icon-button color="primary" (click)="editTask(task)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="confirmDelete(task.id!)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card-header>
              <mat-card-content>
                <p><strong>Description: </strong>{{ task.description }}</p>
                <div *ngFor="let column of additionalColumns">
                  <strong>{{ column | titlecase }}:</strong> {{ task[column] }}
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
