.cards{
    padding-bottom: 10 px ;
}
.category{
    padding: 10px;
}

.category-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100px; /* Adjust as necessary */
    border: 1px dashed #ccc; /* Optional, for visual feedback */
    padding: 10px;
  }
  
  mat-card {
    margin-bottom: 10px;
  }